[user]
	mail = santos.lucasmmatheus@gmail.com
	name = lucasmatheus
	email = lucasmatheus@weg.net
[core]
    editor = nvim
[alias]
    co = checkout
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --
    br = branch
    ci = commit
    rup = remote update --prune
[credential]
	helper = store
